{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
    {{ title|title }}
{% endblock %}


{% block main %}

    <h1>Список отчётов</h1>
    <div class="export_list">
        {% for object in object_list %}
            {% if not forloop.first %}
                <hr noshade size="1">
            {% endif %}
            <div class="one_export">
                <span class="export_catch_date">
                    {% if object.catch_time == None %}
                        Отчёт в очереди
                    {% else %}
                        {{ object.catch_time }}
                    {% endif %}
                </span>
                {% if object.catch_time == None %}
                    {% else %}
                        <span class="export_file_link"><a href="{% static object.out_file_path %}" download="">Скачать</a></span>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
