<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <h1>Задания для парсинга</h1>
    <a href="{% url 'mainapp:create_task' %}">Создать задачу</a>
    <table border="1">
        <tr>
            {% for th_head in table_head %}
                <th>{{ th_head }}</th>
            {% endfor %}
        </tr>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.link }}"><img src="{{ object.img_ }}" class="mini_img"/></a></td>
                <!-- <td><span class="task_link"><a href="{{ object.link }}">{{ object.link|truncatechars:50 }}</a></span></td> -->
                <td><span class="are_activate">
                    {% if object.activate == True %}
                        <span>Активно</span>
                    {% else %}
                        <span>Неактивно</span>
                    {% endif %}
                </span>
                </td>
                <td><span class="update_time">{{ object.update_time }}</span></td>
                <td><span class="delete_task_link"><a href="{% url 'mainapp:delete_task' object.id %}">Удалить</a></span></td>
                <td><span class="edit_task_link"><a href="{% url 'mainapp:update_task' object.id %}">Изменить</a></span></td>
                <td><span class="create_export_hist"><a href="{% url 'export:create_export_history' object.id %}">Создать отчёт</a></span></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>